<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="CO_TestCases">

   <!-- <test name="ODPMP_Test">
        <classes>
            <class name="test.java.com.sumtotal.automation.tests.ODPMPTest"/>
        </classes>
    </test>-->
    <!--To execute test cases on devlab enable below test cases and disable odpmp test -->

    <test name="SearchTest">
    <classes>
        <class name="test.java.com.sumtotal.automation.tests.SearchTest"/>
    </classes>
    </test>


   <test name="BatchProcessTest">
        <classes>
            <class name="test.java.com.sumtotal.automation.tests.BatchProcessTest"/>
        </classes>
    </test>
</suite>


